li.layui-nav-item a {
    font-size: 16px;
    text-align: center;
}

.content-container {
    padding: 15px;
}

.body-container .layui-tab-content {
    padding-top: 0;
}

.table-item-info, .table-owner-choose {
    padding: 0 15px;
}

.table-item-info td:first-child {
    text-align: center;
    width: 70px;
}

#form-addItem-container {
    padding: 15px;
}

.pointer {
    cursor: pointer;
}

#form-filterItem-search-row,#form-filterOwner-search-row {
    position: relative;
}

#form-filterItem-submit,#form-filterOwner-submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
}

#form-filterItem-input, #form-filterItem-input-range-end, #form-filterItem-date-select-range-end,
#form-filterOwner-input, #form-filterOwner-input-range-end, #form-filterOwner-date-select-range-end {
    padding-right: 54px;
}

#form-filterItem-input-range-start, #form-filterItem-date-select-range-start,#form-filterOwner-input-range-start, #form-filterOwner-date-select-range-start {
    border: none;
    padding-right: 54px;
}

#form-filterItem-input-range-end, #form-filterItem-date-select-range-end {
    border: none;
}

#form-filterItem-input-range-start, #form-filterItem-input-range-end, #form-filterItem-date-select-range-start, #form-filterItem-date-select-range-end,
#form-filterOwner-input-range-start, #form-filterOwner-input-range-end, #form-filterOwner-date-select-range-start, #form-filterOwner-date-select-range-end{
    height: 36px;
}

.row-inline {
    height: 38px;
    border: #eee 1px solid;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
}

fieldset.layui-elem-field.layui-field-title {
    margin-top: 30px;
}

button.layui-btn.layui-btn-fluid.button-create-new-owner {
    margin: 15px 0 5px 0;
}

form#form-owner-create {
    padding: 15px 20px 15px 15px;
}

#form-owner-create label.layui-form-label {
    width: 30px;
    padding-left: 5px;
}

#form-owner-create .layui-input-block {
    margin-left: 50px;
}

#page-overview .panel {
    padding: 10px 30px;
    text-align: center;
}

#page-overview .panel .layui-card-header {
    font-size: 16px;
}

#page-overview .panel .layui-card-body {
    font-size: 30px;
    padding-top: 20px;
}

.chartLine-container {
    margin-top: 20px;
    min-width: 900px;
}

.chartPie-container {
    margin-top: 20px;
    min-width: 500px;
}
#chartLine, #chartPie {
    height: 400px;
    margin: 40px auto 0 auto;
}
#chartLine {
    width: 800px;
}
#chartPie {
    width: 400px;
}